{% extends 'base.html' %}

{% block title %}
Login page
{% endblock title %}

{% block contant %} 
   <div class="container col-md-4 offset-4 mt-5">
   <form action="" class="form-group" method="POST"> 
    {% csrf_token %}
     <h3 class="text-center">Login Form</h3><hr><br>

     <input type="text" class="form-control" name="username" id="username" placeholder="Enter your user name"><br>

     <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password"><br>

     <input type="submit" class="btn btn-info w-100" value="Login">
   </form>
   </div>
{% endblock %}