{% extends 'base.html' %}

<!--Start title-->
{% block title %}
Contact
{% endblock %}
<!--End title-->


{% block contant %}
 <div class="mt-5">
  <form action="" class="form-group mr-auto ml-auto col-md-6">
  <h3 class="text-center">Contact page</h3> <hr>
  <input type="text" name="name" class="form-control" id="name" placeholder="Enter your name"><br>
  <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email"><br>
  <textarea name="comments" id="comments" class="form-control" cols="30" rows="10" placeholder="Enter
   your query here ....."></textarea><br>
  <input type="submit" class="btn btn-info form-control" value="Submit">
  </form>
 </div>
 
{% endblock %}